@if (item) {
  <div class="details-page min-h-screen px-8 py-8">
    <div class="mx-auto max-w-190">
      <!-- Back -->
      <div class="group mb-7 flex w-fit cursor-pointer items-center gap-3" (click)="goBack()">
        <img
          src="/arrow-right.png"
          alt="arrow-left"
          class="h-3 w-3 rotate-180 transition-all group-hover:brightness-50"
        />

        <span class="details-secondary-text font-bold transition-colors group-hover:opacity-70">
          Go back
        </span>
      </div>

      <!-- Status / Actions -->
      <div
        class="details-card mb-6 flex h-22.75 items-center justify-between rounded-lg px-8 shadow-sm"
      >
        <div class="flex items-center gap-5">
          <span class="details-secondary-text text-sm"> Status </span>

          <div
            class="flex h-11 items-center gap-2 rounded-md px-5"
            [style.color]="statusStyle.textColor"
            [style.background-color]="statusStyle.backgroundColor"
          >
            <span
              class="h-2 w-2 rounded-full"
              [style.background-color]="statusStyle.textColor"
            ></span>

            <span class="font-bold capitalize">
              {{ item.status }}
            </span>
          </div>
        </div>

        <div class="flex items-center gap-2">
          <button
            class="h-12 cursor-pointer rounded-full bg-[#DFE3FA] px-7 font-bold text-[#7E88C3] transition hover:bg-[#C9CEF5]"
          >
            Edit
          </button>

          <button
            (click)="deleteInvoice(item.invoiceId)"
            class="h-12 cursor-pointer rounded-full bg-[#EC5757] px-7 font-bold text-white transition hover:bg-[#D94A4A]"
          >
            Delete
          </button>

          <button
            (click)="markAsPaid()"
            class="h-12 cursor-pointer rounded-full bg-[#7C5CFC] px-7 font-bold text-white transition hover:bg-[#6545E8]"
          >
            Mark as Paid
          </button>
        </div>
      </div>

      <!-- Invoice -->
      <div class="details-card rounded-lg px-12 py-12 shadow-sm">
        <!-- Header -->
        <div class="flex justify-between">
          <div>
            <h2 class="details-primary-text font-bold">
              <span class="details-secondary-text">#</span>{{ item.invoiceId }}
            </h2>

            <p class="details-secondary-text mt-2 text-sm">
              {{ item.description }}
            </p>
          </div>

          <div class="details-secondary-text text-right text-sm leading-6">
            <p>{{ item.senderAddress.street }}</p>
            <p>{{ item.senderAddress.city }}</p>
            <p>{{ item.senderAddress.postCode }}</p>
            <p>{{ item.senderAddress.country }}</p>
          </div>
        </div>

        <!-- Invoice information -->
        <div class="mt-10 grid grid-cols-3 gap-8">
          <!-- Invoice date -->
          <div>
            <p class="details-secondary-text text-sm">Invoice Date</p>

            <p class="details-primary-text mt-4 font-bold">
              {{ item.createdAt | date: 'dd MMM yyyy' }}
            </p>

            <p class="details-secondary-text mt-8 text-sm">Payment Due</p>

            <p class="details-primary-text mt-4 font-bold">
              {{ item.paymentDue | date: 'dd MMM yyyy' }}
            </p>
          </div>

          <!-- Bill to -->
          <div>
            <p class="details-secondary-text text-sm">Bill To</p>

            <p class="details-primary-text mt-4 font-bold">
              {{ item.clientName }}
            </p>

            <div class="details-secondary-text mt-2 text-sm leading-5">
              <p>{{ item.clientAddress.street }}</p>
              <p>{{ item.clientAddress.city }}</p>
              <p>{{ item.clientAddress.postCode }}</p>
              <p>{{ item.clientAddress.country }}</p>
            </div>
          </div>

          <!-- Email -->
          <div>
            <p class="details-secondary-text text-sm">Sent to</p>

            <p class="details-primary-text mt-4 font-bold">
              {{ item.clientEmail }}
            </p>
          </div>
        </div>

        <!-- Items -->
        <div class="details-items mt-12 overflow-hidden rounded-lg">
          <!-- Items header -->
          <div
            class="details-secondary-text grid grid-cols-[1fr_80px_110px_110px] px-8 pt-8 text-sm"
          >
            <span>Item Name</span>

            <span class="text-center"> QTY. </span>

            <span class="text-right"> Price </span>

            <span class="text-right"> Total </span>
          </div>

          <!-- Items -->
          @for (invoiceItem of item.items; track invoiceItem.name) {
            <div
              class="details-primary-text grid grid-cols-[1fr_80px_110px_110px] px-8 py-4 font-bold"
            >
              <span>
                {{ invoiceItem.name }}
              </span>

              <span class="details-secondary-text text-center">
                {{ invoiceItem.quantity }}
              </span>

              <span class="details-secondary-text text-right">
                £ {{ invoiceItem.price.toFixed(2) }}
              </span>

              <span class="text-right"> £ {{ invoiceItem.total.toFixed(2) }} </span>
            </div>
          }

          <!-- Amount -->
          <div class="details-amount flex h-20.75 items-center justify-between px-8">
            <span class="text-sm"> Amount Due </span>

            <span class="text-[28px] font-bold"> £ {{ item.total.toFixed(2) }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="details-page min-h-screen px-8 py-8">
    <div class="mx-auto max-w-190">
      <p class="details-secondary-text">Loading invoice...</p>
    </div>
  </div>
}
